div.container1 a img {
    width: 300px;
    height: 197px;
}

#corpo_total {
    width: 90vw;
}

#pythonProj {
    margin-top: 130px;
}

.title_work {
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 80px;
    margin-left: 60px;
    font-size: 2.2em;
}


.movies-container a img {
    width: 300px !important;
    height: 287px !important;
    margin-left: 30px;
    transition: opacity 2s ease;
}

.movie-img {
    display: none; 
}

.active {
    display: block;
}


#orbitStrikeVideo {
    display: none;
}



.project {
    position: relative;
    display: inline-block;
}

.table {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.project:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}